.fc {
  font-family: 'Nanum Gothic';
}

.fc-media-screen {
  background-color: rgb(0, 0, 0, 0);
  /* width: 285px; */
  height: 280px;
}

.fc .fc-toolbar-title {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.fc .fc-button {
  /* height: 30px; */
  padding: 0px 0px;
  border-radius: 6px;
  transition: 0.2s all;
}

.fc .fc-button-primary {
  background-color: var(--prime-color);
  border-color: var(--prime-color);
}

.fc .fc-button-primary:not(:disabled):active {
  background-color: #002f2f;
}

.fc .fc-button-primary:hover {
  background-color: #002f2f;
  border-color: #002f2f;
}

.fc .fc-button .fc-icon {
  vertical-align: top;
  font-size: 1em;
  padding: 4px 0;
  margin: 0 1.5px;
}

.fc .fc-button-primary:disabled {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  cursor: not-allowed;
}

.fc-button {
  box-shadow: none !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-left: 12px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  min-height: 0;
}

.fc .fc-today-button {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  line-height: 16px;
  height: 26px;
  text-align: center;
  transition: 0.2s all;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 5px;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a {
  color: #323232;
  text-decoration: none;
}

.fc .fc-daygrid-day-top {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
}

/* .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  height: 0;
} */

.fc-daygrid-day-events {
  display: none;
  margin-top: 0px;
}

/* .fc th, */
.fc td {
  vertical-align: middle;
  padding: 0;
  height: 32px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}

.fc-theme-standard .fc-scrollgrid {
  border-color: rgba(158, 158, 158, 0.25);
  border-left: none;
  padding-top: 5px;
}

.fc .fc-daygrid-day-frame {
  position: relative;
  min-height: 32px;
}

.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  cursor: pointer;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.25);
}

.fc .fc-highlight {
  width: 42px;
  height: 41px;
  position: absolute;
  background: rgba(230, 226, 175, 1);
  top: -5px;
  left: -0.5px;
  border-radius: 10px;
  box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.25);
}

.fc .fc-day-disabled {
  background-color: #eeeeee;
}
